<!-- <div class="header ">
    
        <div class="image">
            <img src="C:/Users/NAJMAL JAMAL/Downloads/12bcc40e811c4effa6b912f947b34ab9.png" width="100px" height="100%" alt="" class="rc">
            <p class=" align-self-center pt-3 "><b> KISMET CAFE </b></p>
        </div>

        
        <div class="navbar-details">
            <li style="list-style: none;">Home </li>
                <li style="list-style: none;">Service </li>
                <li style="list-style: none;">Shop </li>
                <li style="list-style: none;">Blog</li>
                <li style="list-style: none;">About Us</li>
            
        </div>
    
</div>
 -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="left">
            <a class="navbar-brand" href="#"><b> KISMET CAFE </b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="right">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

                <div class="h-100">
                    <div class="d-flex justify-content-center h-100">
                      <div class="searchbar">
                            <input class="search_input pt-2 mx-4" type="text" name="" placeholder="Search...">
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                      </div>
                    </div>
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
