p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #7e57c2;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.sect{
    display: flex;
    align-items: center;
    // justify-content: center;
}
// .py-5{
//     display: flex;
//     align-items: center;
// }
@media all and (max-width:768px){
    p{
        writing-mode: horizontal-tb;
        text-orientation: sideways-right;
        // color: #7e57c2;
        // font-weight: bolder;
        // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        // font-size: 30px;
    }
}